<div fxFlex fxLayout='column'>
    <div fxLayout='row wrap'>
        <div class="card-character" fxFlex='33' fxFlex.md='33' fxFlex.xs='100' fxLayout='column'>
            <app-character [name]="'Hawkeye'" [id]="1009338"></app-character>
        </div>
        <div class="card-character" fxFlex='33' fxFlex.md='33' fxFlex.xs='100' fxLayout='column'>
            <app-character [name]="'Thor'" [id]="1009664"></app-character>
        </div>
        <div class="card-character" fxFlex='33' fxFlex.md='33' fxFlex.xs='100' fxLayout='column'>
            <app-character [name]="'Winter Soldier'" [id]="1010740"></app-character>
        </div>
    </div>
</div>